@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Gemunu+Libre:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #BBB;    
}

body::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #332940;
    background: radial-gradient(circle at bottom right, rgb(98, 21, 191) 0%, rgba(51, 41, 64, 1) 100%);
    background-size: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root{
    overflow: hidden;
}

#home {
    position: relative;
    z-index: -5;
    height: auto;
}

#sections_main_div section{
    border-top: 1px dashed gray;
}

canvas {
    height: 100vh;
    width: 100%;
}

.bg-cus {
    background: hsla(0, 0%, 100%, .25);
    backdrop-filter: blur(4px);
}

#Bg_circle_1 {
    position: absolute;
    height: 500px;
    width: 500px;
    background: linear-gradient(to right, #188DC9, #E65DC4);
    top: 750vh;
    right: 10px;
    overflow-x: hidden;
}

#Bg_circle_2 {
    position: absolute;
    height: 1500px;
    width: 1500px;
    background: linear-gradient(135deg, rgba(250, 176, 230, 0.279) 0%, rgba(255, 255, 255, 0) 50%);
    z-index: -11;
    left: calc(50vw - 750px);
    top: 300px;
    border-radius: 50%;
    overflow-x: hidden;
}

#Bg_circle_3 {
    position: absolute;
    height: 300px;
    width: 300px;
    background: linear-gradient(-135deg, rgba(250, 176, 230, 0.279) 0%, rgba(255, 255, 255, 0) 70%);
    z-index: -11;
    left: calc(50vw - 750px);
    top: 100px;
    right: 100px;
    border-radius: 50%;
    overflow-x: hidden;
}

#Bg_circle_4 {
    position: absolute;
    height: 300px;
    width: 300px;
    background: linear-gradient(135deg, #188DC9, #E65DC4);
    top: 500vh;
    left: 50px;
    overflow-x: hidden;
    z-index: -11;
}

#Bg_square_1 {
    position: absolute;
    height: 1000px;
    width: 1000px;
    background: linear-gradient(-110deg, rgba(250, 176, 230, 0.279) 0%, rgba(255, 255, 255, 0) 50%);
    rotate: 30deg;
    z-index: -11;
    left: 20%;
    top: 300vh;
    overflow: hidden;
}

#Bg_triangle_1 {
    position: absolute;
	width: 800px;
	height: 800px;
    right: 20vw;
    top: 600vh;
    transform: skew(30deg);
    background: linear-gradient(-45deg, rgba(250, 176, 230, 0.279) 0%, rgba(255, 255, 255, 0) 50%);
    z-index: -11;
    overflow-x: hidden;
}

#about_sm_divs b {
    color: #D0DCAA;
}

.proj_active{
    background: rgb(225, 29, 72);
    color: white;
}

@media (max-width: 640px) {
    #Bg_square_1{
        height: 300px;
        width: 300px;
    }
    #Bg_circle_2{
        height: 300px;
        width: 300px;
        left: -5%;
    }
}